[submodule "ultimachris | wqLJA9aW4QElIAluknHM"]
	path = ultimachris | wqLJA9aW4QElIAluknHM
	url = https://github.com/ChrisGodfrey47/gmailapisaturday
[submodule "ITechies | frwkxGOLin4Bk7G6pQV6"]
	path = ITechies | frwkxGOLin4Bk7G6pQV6
	url = https://github.com/Abusinannaufal/abu-sinan-naufal
[submodule "SatHackers1 | PNngMhM9Fc47o8Dm8xZN"]
	path = SatHackers1 | PNngMhM9Fc47o8Dm8xZN
	url = https://github.com/hakkeempa/shn-gmail-api-tinkerhub
[submodule "Error401 | pwssE8L36aPR2FoeFmfo"]
	path = Error401 | pwssE8L36aPR2FoeFmfo
	url = https://github.com/dinu24/Gmail-API
[submodule "MAcaVo | tRKHrgWFPDCXgY2SoH0Z"]
	path = MAcaVo | tRKHrgWFPDCXgY2SoH0Z
	url = https://github.com/mube1ena/SHN-Gmail-API
[submodule "Ecstasy | B7KsOKLYfayjK0Z1RQi7"]
	path = Ecstasy | B7KsOKLYfayjK0Z1RQi7
	url = https://github.com/hadui/SHN-GmailAPI
[submodule "BM4 | O3hhNGN6TjtCwzQcBXWB"]
	path = BM4 | O3hhNGN6TjtCwzQcBXWB
	url = https://github.com/jonathanjobby/hacknight-gmail
[submodule "Technomaniac | UM8fMXCneJQ3fpXBSWbg"]
	path = Technomaniac | UM8fMXCneJQ3fpXBSWbg
	url = https://github.com/Dhanush17raj/Saturday_hacknight_gmail_api.git
[submodule "JSociety | zaUtrJlivua8zTW7dVBE"]
	path = JSociety | zaUtrJlivua8zTW7dVBE
	url = https://github.com/Abhijith-H13/gmail-api-saturday-hacknight
[submodule "HexDragons | 2IQ5J37xy78WBZSCk1vf"]
	path = HexDragons | 2IQ5J37xy78WBZSCk1vf
	url = https://github.com/Jesmi-04/GmailApi_Hacknyt.git
[submodule "HexDragons | r74VWGJmILnEk9tQdMNG"]
	path = HexDragons | r74VWGJmILnEk9tQdMNG
	url = https://github.com/Jesmi-04/GmailApi_Hacknyt.git
[submodule "DA | sGITiNchTfQbFf0HlfBt"]
	path = DA | sGITiNchTfQbFf0HlfBt
	url = https://github.com/SwanSkynet/HackNightThinkerHub
[submodule "cipherGUYS | WlINBERqivWEoSNsgSgE"]
	path = cipherGUYS | WlINBERqivWEoSNsgSgE
	url = https://github.com/cipherGUYS/hacknight-gmail
[submodule "3G | GjJGjI4FGkOKLYHJCWTB"]
	path = 3G | GjJGjI4FGkOKLYHJCWTB
	url = https://github.com/Govindvr/gmail-api-project
[submodule "Kunjumakkal | tTFXarBxUnbv7FA1Ps3g"]
	path = Kunjumakkal | tTFXarBxUnbv7FA1Ps3g
	url = https://github.com/aditramdas/GmailHack2.0
[submodule "Sparrow | C2R6IhUTXU6kIfT3PgaV"]
	path = Sparrow | C2R6IhUTXU6kIfT3PgaV
	url = https://github.com/Rithingithub/GmailAPI
[submodule "Bitcoders | 2ZZ9vewSnWOusQbCPpKw"]
	path = Bitcoders | 2ZZ9vewSnWOusQbCPpKw
	url = https://github.com/Arjun-A-I/SHN-Gmail-API
[submodule "Bitcoders | MLNldSLQbrUstWDj5OEB"]
	path = Bitcoders | MLNldSLQbrUstWDj5OEB
	url = https://github.com/Arjun-A-I/SHN-Gmail-API
[submodule "Bitcoders | 625BVxQ982u9WMRDW7YH"]
	path = Bitcoders | 625BVxQ982u9WMRDW7YH
	url = https://github.com/Arjun-A-I/SHN-Gmail-API
[submodule "Bitcoders | gNRxahZcH20kSoySZoev"]
	path = Bitcoders | gNRxahZcH20kSoySZoev
	url = https://github.com/Arjun-A-I/SHN-Gmail-API
[submodule "BitCoders | i14OvGh2cKbFVwmYvJNn"]
	path = BitCoders | i14OvGh2cKbFVwmYvJNn
	url = https://github.com/ANWIN-2001/GMAIL-API
[submodule "LittleNerds | itoyyHMFNSVEru4qtG93"]
	path = LittleNerds | itoyyHMFNSVEru4qtG93
	url = https://github.com/Adith628/Gamil_Api
